body {
    background-color: rgb(153, 120, 183);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: "Playwrite IN";
    font-optical-sizing: auto;
    color: rgb(73, 10, 73);
}

#quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid purple;
    height: 200px;
}

.paraQuote{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: italic;
}

#carrousel{
    position: relative;
}

.arrow_left {
    height: 20px;
    width: 100px;
    position: absolute;
    left: 10px;
    bottom: 0px;
    cursor: pointer;
    font-size: 2em;
}

.arrow_right {
    height: 20px;
    width: 10px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    cursor: pointer;
    font-size: 2em;
}


.footer{
    text-align: center;
    font-size: 0.8rem;
}
.footer a{
    text-decoration: none;
    font-style: italic;
    color: black;
    cursor: pointer;
}